<div class="overlay" id="overlay"></div>

<header>
    <div class="d-flex align-items-center">
        <i class="material-icons-outlined menu-toggle" id="menuBtn">menu</i>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Google_Drive_icon_%282020%29.svg" width="38">
        <span class="ms-2 fw-medium text-secondary">Drive</span>
    </div>

    <div class="search-container d-none d-md-flex">
        <i class="material-icons-outlined">search</i>
        <input type="text" placeholder="Search in Drive">
    </div>

    <div class="d-flex align-items-center gap-3">
        <i class="material-icons-outlined">help_outline</i>
        <i class="material-icons-outlined">settings</i>
        <div class="rounded-circle d-flex align-items-center justify-content-center"
            style="background:#1a73e8;color:white;width:32px;height:32px;">
            U
        </div>
    </div>
</header>