{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block contents %}
<section class="login_area pt_150 pb_120 xs_pb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="main_login_area shadow rounded bg-white">
                    <div class="login_text">
                        <h4 class="mb-4">Login</h4>

                        <form action="{% url 'accounts:login' %}" method="post">
                            {% csrf_token %}

                            <div class="single_input">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {% if form.username.errors %}
                                <div class="text-danger">
                                    {{ form.username.errors }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="single_input">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                                <span class="show_password">
                                    <i class="far fa-eye open_eye"></i>
                                    <i class="far fa-eye-slash close_eye"></i>
                                </span>
                            </div>

                            <div class="single_input d-flex flex-wrap align-items-center justify-content-between">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Remember me
                                    </label>
                                </div>
                                <a class="forget_password" href="forgot_password.html">Forgot password ?</a>
                            </div>

                            <button class="common_btn" type="submit">
                                Login
                            </button>
                        </form>

                        <p class="mt-3">
                            Don’t have an account?
                            <a href="sign_up.html">Register</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}