{% extends 'portal_base.html' %}
{% block title %}Profile{% endblock %}
{% load static %}
{% block contents %}
<div class="dashboard_content">
    <h2 class="dashboard_title">Personal Information</h2>
    <div class="dashboard_profile">

        <div class="dashboard_profile_info">
            <div class="row">

                <div class="col-xxl-4 col-md-5 col-lg-6 col-xl-5 wow fadeInLeft" data-wow-duration="1.5s">
                    <div class="dashboard_profile_img">
                        {% if request.user.profile.photo %}
                        <img src="{{ request.user.profile.photo.url }}" alt="agent" class="img-fluid w-100">
                        {% else %}
                        <img src="{% static 'assets/images/default_avatar.png' %}" alt="agent" class="img-fluid w-100">
                        {% endif %}
                    </div>
                </div>

                <div class="col-xxl-8 col-md-7 col-lg-6 col-xl-7 wow fadeInRight" data-wow-duration="1.5s">
                    <div class="dashboard_profile_text">
                        <h3>
                            {{ request.user.get_full_name|default:request.user.username }}
                        </h3>
                        <ul class="list">
                            <li><span>Email:</span> {{ request.user.email }}</li>
                            <li><span>Phone:</span> {{ request.user.profile.phone|default:"-" }}</li>
                            <li><span>Country:</span> {{ request.user.profile.country.name|default:"-" }}</li>
                            <li><span>City:</span> {{ request.user.profile.city.name|default:"-" }}</li>
                            <li><span>Address:</span> {{ request.user.profile.address|default:"-" }}</li>
                        </ul>
                        <ul class="icon d-flex flex-wrap">
                            <li>
                                <a href="{{ request.user.profile.facebook|default:" #" }}">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ request.user.profile.linkedin|default:" #" }}">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ request.user.profile.website|default:" #" }}">
                                    <i class="fa fa-globe"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="dashboard_profile_edit wow fadeInUp" data-wow-duration="1.5s">
            <h3>Update Information</h3>
            <form method="POST" action="{% url 'accounts:profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>Name</label>
                        {{ u_form.first_name }}
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>Phone</label>
                        {{ p_form.phone }}
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>Profile Photo</label>
                        {{ p_form.photo }}
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>Country</label>
                        {{ p_form.country }}
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>City</label>
                        {{ p_form.city }}
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>Address</label>
                        {{ p_form.address }}
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>Facebook</label>
                        {{ p_form.facebook }}
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>LinkedIn</label>
                        {{ p_form.linkedin }}
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <label>Website</label>
                        {{ p_form.website }}
                    </div>

                    <div class="col-12">
                        <button class="common_btn" type="submit">
                            Update Information
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <div class="dashboard_profile_edit wow fadeInUp" data-wow-duration="1.5s">
            <h3>Update Password</h3>
            <form method="POST" action="{% url 'accounts:change_password' %}">
                {% csrf_token %}
                <div class="row">

                    <div class="col-xl-4 col-lg-6">
                        <label>Current Password</label>
                        {{ change_password_form.old_password }}
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <label>New Password</label>
                        {{ change_password_form.new_password1 }}
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <label>Confirm Password</label>
                        {{ change_password_form.new_password2 }}
                    </div>

                    <div class="col-12">
                        <button class="common_btn mt-0" type="submit">
                            Update Password
                        </button>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}