{% extends 'portal_base.html' %}
{% block title %}Create{% endblock %}
{% block contents %}
<div class="dashboard_content">
    <h2 class="dashboard_title">
        add property
        <a class="common_btn" href="{% url 'property:backend_list' %}" hx-get="{% url 'property:backend_list' %}"
            hx-target="#content" hx-push-url="true">
            Manage properties
        </a>
    </h2>
    <div class="dashboard_add_property">
        <div class="add_property_info wow fadeInUp" data-wow-duration="1.5s">
            <h3>Basic Information</h3>
            <form action="#">
                <div class="row">
                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Title</label>
                            <input type="text" placeholder="Title">
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Property Types</label>
                            <select class="select_2" name="state">
                                <option value="">Select Type</option>
                                <option value="">Japan</option>
                                <option value="">Korea</option>
                                <option value="">Thailan</option>
                                <option value="">Singapore</option>
                                <option value="">Garmany</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>country</label>
                            <select class="select_2" name="state">
                                <option value="">Select Country</option>
                                <option value="">Japan</option>
                                <option value="">Korea</option>
                                <option value="">Thailan</option>
                                <option value="">Singapore</option>
                                <option value="">Garmany</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>City</label>
                            <select class="select_2" name="state">
                                <option value="">Select City</option>
                                <option value="">Japan</option>
                                <option value="">Korea</option>
                                <option value="">Thailan</option>
                                <option value="">Singapore</option>
                                <option value="">Garmany</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Township</label>
                            <select class="select_2" name="state">
                                <option value="">Select City</option>
                                <option value="">Japan</option>
                                <option value="">Korea</option>
                                <option value="">Thailan</option>
                                <option value="">Singapore</option>
                                <option value="">Garmany</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Area</label>
                            <input type="text" placeholder="Address">
                        </div>
                    </div>


                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Purpose</label>
                            <select class="select_2" name="state">
                                <option value="">Select Purpose</option>
                                <option value="">Rent</option>
                                <option value="">Sell</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Price</label>
                            <input type="text" placeholder="Price">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="add_property_input">
                            <label>Description</label>
                            <textarea class="form-control summer_note"></textarea>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="add_property_info wow fadeInUp" data-wow-duration="1.5s">
            <h3>Image, PDF And Video</h3>
            <form action="#">
                <div class="row">
                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>PDF File</label>
                            <input type="file">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Bannner Image</label>
                            <input type="file">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Thumbnail Image</label>
                            <input type="file">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-md-6">
                        <div class="add_property_input">
                            <label>Thumbnail </label>
                            <input type="file">
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <div class="add_property_input">
                            <label>Video Link </label>
                            <input type="text" placeholder="Video Link">
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>
{% endblock %}