{% extends 'base.html' %}
{% block title %}Manage Properties{% endblock %}
{% block contents %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h5 class="mb-1 fw-semibold">
            Manage Properties
        </h5>
        <small class="text-muted">
            View, edit, and manage property records
        </small>
    </div>

    <a href="{% url 'property:create' %}" hx-get="{% url 'property:create' %}" hx-target="#content" hx-push-url="true"
        class="btn btn-primary rounded-pill">
        Add Property
    </a>
</div>

{% include 'property/partials/_filter_form.html' %}

<div class="table-responsive pt-3">
    <table class="table table-hover align-middle text-nowrap">
        <thead class="table-light">
            <tr class="fw-semibold">
                <th>Title</th>
                <th>Details</th>
                <th>Type/Area</th>
                <th>Country/City</th>
                <th>Price</th>
                <th>Purpose</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="property-table-body" hx-get="{% url 'property:backend_htmx_list' %}" hx-trigger="load"
            hx-swap="innerHTML">
        </tbody>
    </table>
</div>
{% endblock %}