{% load static %}
<footer class="footer">
    <div class="container container_large">
        <div class="row">
            <div class="col-xl-7">
                <div class="footer_left pt_100 pb_80">
                    <div class="row justify-content-between">
                        <div class="col-xl-5 col-sm-10 col-md-4 wow fadeInLeft" data-wow-duration="2s">
                            <div class="footer_description">
                                <a class="footer_logo" href="index.html">
                                    <img src="{% static 'assets/images/footer_logo.png' %}" alt="logo"
                                        class="img-fluid w-100">
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. Aenean quis orci sit amet
                                    odio maximus sagittis et eu odio.</p>
                                <ul class="d-flex flex-wrap">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-md-4 wow fadeInLeft" data-wow-duration="1.5s">
                            <div class="footer_link">
                                <h4>Navigation</h4>
                                <ul>
                                    <li><a href="index.html">Home One</a></li>
                                    <li><a href="property.html">Properties Right</a></li>
                                    <li><a href="property_details.html">Properties List</a></li>
                                    <li><a href="property_details.html">Property Details</a></li>
                                    <li><a href="agent.html">Agents Listing</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-md-4 wow fadeInLeft" data-wow-duration="1s">
                            <div class="footer_link">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="dashboard_wishlist.html">Wishlist</a></li>
                                    <li><a href="dashboard_profile.html">Change Password</a></li>
                                    <li><a href="about_us.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 wow fadeInRight" data-wow-duration="1.5s">
                <div class="footer_right">
                    <h4>Get in Touch with Us</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer_form_input">
                                    <input type="text" placeholder="First name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer_form_input">
                                    <input type="text" placeholder="Last name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer_form_input">
                                    <input type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer_form_input">
                                    <input type="text" placeholder="Phone number">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="footer_form_input">
                                    <textarea rows="2" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <button class="common_btn footer_btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right wow fadeInUp" data-wow-duration="1.5s">
        <div class="container container_large">
            <div class="row">
                <div class="col-xl-12">
                    <div class="copyright_area d-flex flex-wrap justify-content-between">
                        <p>© 2024 MaxLand All Rights Reserved</p>
                        <ul class="d-flex flex-wrap">
                            <li><a href="privacy_policy.html">Privacy Policy </a></li>
                            <li><a href="terms_condition.html">Term of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>