{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <title>{% block title %}{% endblock %} - Real Estate</title>
    {% include 'shared/share_css.html' %}
</head>

<body id="content" hx-boost="true">

    {% include 'includes/menu.html' %}

    {% block contents %}{% endblock %}

    {% include 'includes/footer.html' %}

    {% include 'shared/share_js.html' %}
</body>
</html>