{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Property Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />

    <link href=" https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css " rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js "></script>
    <script src="https://unpkg.com/htmx.org"></script>

</head>

<body id="content" hx-boost="true">
    <div class="hx-progress"></div>

    <div id="content">
        {% if user.is_authenticated %}
        {% include 'includes/top.html' %}
        {% endif %}

        <div class="main-container">
            {% if user.is_authenticated %}
            {% include 'includes/menu.html' %}
            {% endif %}

            <div class="main">
                {% block contents %}{% endblock %}
            </div>
        </div>
    </div>


    <script src="{% static 'js/loading.js' %}"></script>

    <script>
        const menuBtn = document.getElementById("menuBtn");
        const sidebar = document.getElementById("sidebar");
        const overlay = document.getElementById("overlay");

        function toggleMenu() {
            sidebar.classList.toggle("open");
            overlay.classList.toggle("active");
        }

        menuBtn.addEventListener("click", toggleMenu);
        overlay.addEventListener("click", toggleMenu);
    </script>

    <script>
        function initSelect2() {
            if ($('.select_2').length) {
                $('.select_2').select2();
            }
        }

        document.addEventListener("DOMContentLoaded", initSelect2);

        // Re-init Select2 after HTMX swaps
        document.body.addEventListener("htmx:afterSwap", function (evt) {
            $(evt.detail.target).find('.select_2').select2();
        });
    </script>


    <script>
        $(document).ready(function () {
            $('#id_country').change(function () {
                var countryId = $(this).val();
                $.ajax({
                    url: "{% url 'city:get_cities' %}",
                    data: {
                        'country_id': countryId
                    },
                    success: function (data) {
                        $("#id_city").html(data);
                        $("#id_township").html('<option value="">---------</option>');
                    }
                });
            });

            $('#id_city').change(function () {
                var cityId = $(this).val();
                $.ajax({
                    url: "{% url 'city:get_townships' %}",
                    data: {
                        'city_id': cityId
                    },
                    success: function (data) {
                        $("#id_township").html(data);
                    }
                });
            });


            $('#id_country_filter').change(function () {
                var countryId = $(this).val();
                $.ajax({
                    url: "{% url 'city:get_cities' %}",
                    data: {
                        'country_id': countryId
                    },
                    success: function (data) {
                        $("#id_city_filter").html(data);
                        $("#id_township_filter").html('<option value="">---------</option>');
                    }
                });
            });

            $('#id_city_filter').change(function () {
                var cityId = $(this).val();
                $.ajax({
                    url: "{% url 'city:get_townships' %}",
                    data: {
                        'city_id': cityId
                    },
                    success: function (data) {
                        $("#id_township_filter").html(data);
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const resetButton = document.getElementById("reset-filters");
            const filterForm = document.getElementById("filter-form");

            resetButton.addEventListener("click", function () {
                // Clear all input fields
                filterForm.querySelectorAll("input").forEach(input => input.value = "");

                // Reset all select fields to first option
                filterForm.querySelectorAll("select").forEach(select => select.selectedIndex = 0);

                // Trigger HTMX change event manually
                filterForm.dispatchEvent(new Event('change'));
            });
        });
    </script>

    {% include 'messages.html' %}
</body>

</html>