{% load static %}

<!--jquery library js-->
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
<!--bootstrap js-->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--font-awesome js-->
<script src="{% static 'assets/js/Font-Awesome.js' %}"></script>
<!--nice-select js-->
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<!--select-2 js-->
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<!--slick js-->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!--marquee js-->
<script src="{% static 'assets/js/jquery.marquee.min.js' %}"></script>
<!--YTPlayer js-->
<script src="{% static 'assets/js/jquery.youtube-background.min.js' %}"></script>
<!--wow js-->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!--animated barfiller js-->
<script src="{% static 'assets/js/animated_barfiller.js' %}"></script>
<!--simple-bar-graph js-->
<script src="{% static 'assets/js/jquery.simple-bar-graph.min.js' %}"></script>
<!--sticky sidebar js-->
<script src="{% static 'assets/js/sticky_sidebar.js' %}"></script>
<!--summernote js-->
<script src="{% static 'assets/js/summernote.min.js' %}"></script>
<!--scroll button js-->
<script src="{% static 'assets/js/scroll_button.js' %}"></script>
<!--main/custom js-->
<script src="{% static 'assets/js/script.js' %}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>